.label {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin: 0 auto 20px;
  color: #757575;
    width: 350px;
    /* align-items: center; */
}

.input {
  height: 40px;

  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  border-radius: 4px;
  font-size: 15px;
  color: #757575;
  font-family: inherit;

  padding-left: 12px;
}
